.error-container {
    text-align: center;
    padding: 10%;
  }
  
  .error-container h1 {
    font-size: 5em;
    margin-bottom: 10px;
  }
  
  .error-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .error-container p {
    font-size: 1.5em;
  }
  
  .boton-inicio {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #333, #000);
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  
  .boton-inicio:hover {
    background: linear-gradient(to right, #000, #333);
  }
  
  
  